/*Sass template*/
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:wght@300&display=swap");
/*global classes*/
button,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-20 {
  font-size: 20px;
}

.navbar-nav .nav-item .nav-link {
  color: rgb(238, 252, 255);
  transition: color 0.3s ease;
}

.navbar-nav .nav-item.active .nav-link {
  color: white;
  font-weight: 500;
}
